@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #828282;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #181719;
}

footer {
  font-size: 1.4rem;
  color: #a9a9a9;
  font-weight: 500;
  text-align: center;
  line-height: 17.07px;
  margin-bottom: 2.4rem;
}

footer a:link,
footer a:visited {
  color: currentColor;
  font-weight: 700;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background: #181719;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  height: 9rem;
  width: 100%;
  padding: 0 2.9rem;
  top: 0;
}

.header .logo__text {
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  color: #ffffff;
  text-transform: uppercase;
}

.header .logo__text ul {
  list-style-type: none;
}

.header .logo__text a:link,
.header .logo__text a:visited {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 1.4rem;
  padding: 0.8rem 0.9rem;
  text-decoration: none;
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
}

.header .nav.open {
  visibility: visible;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  gap: 3.5rem;
  background-color: #181719;
  list-style-type: none;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .nav-menu.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header .nav-menu__item {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .nav-menu__item.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header .nav-menu__item.active > a {
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #ffffff;
}

.header .nav-menu__link {
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .nav-menu__link:hover {
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #ffffff;
}

.header .menu-btn {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .menu-btn button {
  background: none;
  border: none;
  cursor: pointer;
}

.header .menu-btn svg {
  fill: #ffffff;
  width: 3.5rem;
  height: 3.5rem;
}

.header .menu-btn__close {
  position: relative;
  display: none;
}

.header .menu-btn__close.open {
  display: block;
  -webkit-animation: move 0.2s linear;
          animation: move 0.2s linear;
}

.header .menu-btn__hamburger {
  position: relative;
  display: block;
  -webkit-animation: move 0.2s linear;
          animation: move 0.2s linear;
}

.header .menu-btn__hamburger.open {
  display: none;
}

@-webkit-keyframes move {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main {
  padding: 1.4rem;
  max-width: 70rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 2.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 3.7rem;
}

.main__heading {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 3.6rem;
}

.main__text {
  font-size: 1.4rem;
  width: 60%;
  max-width: 36rem;
  font-family: Montserrat;
  line-height: 1.7rem;
}

.main__btn {
  font-weight: 700;
  background: none;
  border: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.main__content--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__content--2 img {
  width: 100%;
}

.main__content--2 .designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-end;
  gap: 1.3rem;
  padding: 1.7rem 2.9rem 2.5rem 2.9rem;
  -webkit-transform: translate(-1.1rem, -5rem);
          transform: translate(-1.1rem, -5rem);
  background: #181719;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 2rem;
}

.main__content--2 .designer h2 {
  font-family: "Lora", serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  width: 80%;
}

.main__content--2 .designer h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.main__content--2 .designer h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #828282;
}

.main__content--2 .designer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.main__content--2 .designer__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  gap: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content--2 .designer__info img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

@media screen and (min-width: 50em) {
  .header .menu-btn {
    display: none;
  }
  .header .nav {
    position: relative;
    opacity: 1;
    visibility: visible;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .nav-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: transparent;
    display: block;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .nav-menu__item {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4rem 5rem 0;
    max-width: 160rem;
    margin: 0 auto;
    gap: 5rem;
    margin-top: 5rem;
  }
  .main__content--1 {
    width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    gap: 4rem;
  }
  .main__heading {
    font-size: 3.7rem;
  }
  .main__text {
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 400;
    width: 75%;
  }
  .main__btn {
    font-size: 1.8rem;
  }
  .main__content--2 {
    width: 60%;
  }
  .main__content--2 .designer {
    gap: 2.5rem;
    width: 40rem;
    margin-bottom: 4rem;
    padding: 2.3rem 2.6rem 3.4rem;
    -webkit-transform: translate(-1.3rem, -5rem);
            transform: translate(-1.3rem, -5rem);
    margin-left: 2rem;
  }
  .main__content--2 .designer h2 {
    font-size: 2.4rem;
    width: 70%;
    line-height: 3.72rem;
  }
  .main__content--2 .designer h3 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .main__content--2 .designer h6 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #828282;
  }
  .main__content--2 .designer img {
    width: 5rem;
    height: 5rem;
  }
  .main__content--2 .designer__name {
    gap: 0.8rem;
  }
  .main__content--2 .designer__info {
    gap: 1.9rem;
  }
}

@media screen and (min-width: 75em) {
  .main__heading {
    font-size: 4.8rem;
  }
  .main__text {
    font-size: 2.4rem;
  }
}
